<p style="color: green"><%= notice %></p>

<% content_for :title, "Purchasers" %>

<h1>Lista de Compradores</h1>

<div id="purchasers">
  <% @purchasers.each do |purchaser| %>
  <div class="card">
    <%= render purchaser %>
    <p>
      <%= link_to "Visualizar Cadastro", purchaser, class:"btn1" %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "Criar Novo Cadastro", new_purchaser_path, class:"btnnovo" %>
<%= link_to "Página Inicial", purchases_index_path, class:"btn-footer" %>
