<% content_for :title, "Cadastro de Comprador" %>

<div class="container container-menu">
  <h1>Cadastro Comprador</h1>

  <% if @purchaser.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@purchaser.errors.count, "erro") %> impediram o salvamento:</h2>
      <ul>
        <% @purchaser.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @purchaser, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :name, "Nome", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
<div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-success" %>
</div>
  <% end %>

  <br>

  <% if @purchaser.persisted? %>
    <div id="<%= dom_id @purchaser %>" class="card mt-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title"><strong><%= @purchaser.name %></strong></h5>
      </div>
    </div>
  <% end %>
  <br>
</div>