<div class="container container-menu"><h1>Nova Compra</h1>

<div class="alert alert-danger" role="alert">
<% if @purchase.errors.any? %>
    <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with(model: @purchase, local: true) do |form| %>
<div>
    <%= form.label :purchaser_id, "Comprador" %>
    <%= form.collection_select :purchaser_id, @purchasers, :id, :name, { prompt: "Selecione um comprador" }, { class: "form-select" }%>
</div>

<div>
    <%= form.label :item_id, "Item" %>
    <%= form.collection_select :item_id, @items, :id, :description, { prompt: "Selecione um item" }, { class: "form-select" }%>
</div>

<div>
    <%= form.label :count, "Quantidade" , class: "form-label" %>
    <%= form.number_field :count , class: "form-control", min: 1, step: 1%>
</div>
  <br>
  <%= form.submit "Criar Compra", class: "btn btn-secondary" %>
<% end %>
</div>
  <br>
  <br>
  <div class="text-center mt-3">
    <%= link_to "Voltar", purchases_path, class: "btn btn-success" %>
  </div>