<div class="container">
<h1>Adicione seu arquivo</h1>

<%= form_with url: imports_path, local: true, multipart: true do |form| %>

    <%= form.label :file, "Insira seu arquivo abaixo" %><br><br><br>
    <%= form.file_field :file %>

    <%= form.submit "Importar", class: "btnpag" %>
   <br>
   <br>
   <%= link_to "Consulta de Compras Importadas", purchases_index_path, class: "btnpag" %>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <%= link_to "Cadastro de Itens", new_item_path, class: "btnhome" %>
    <%= link_to "Cadastro do Comprador", new_purchaser_path, class: "btnhome" %>
  <% end %>
  </div>