<% content_for :title, "Lista de Itens Cadastrados" %>

<div class="table-responsive container-compras">
  <p class="text-success"><%= notice %></p>

  <h1 class="text-center">Itens Cadastrados</h1>

  <div id="items" class="row">
    <% @items.each do |item| %>
      <% if item.user_id == current_user.id %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title"><%= item.description %></h5>
              <p class="card-text"><strong>Preço:</strong> <%= number_to_currency(item.price, unit: "R$", separator: ",", delimiter: ".") %></p>
              <p class="card-text text-muted">ID do Comerciante: <%= item.merchant_id %></p>
              <%= link_to "Visualizar Item", item, class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>