<% content_for :title, "Cadastro de Novo Item" %>

<div class="containeredit">
  <h1>Cadastro de Novo Item</h1>

  <% if @item.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@item.errors.count, "erro") %> impediram o salvamento:</h2>
      <ul class="error-list">
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", item: @item %>

  <br>

  <div>
    <%= link_to "Lista de Itens Cadastrados", items_path, class: "btnnovo" %>
  </div>
</div>

<%= link_to "Página Inicial", purchases_index_path, class: "btn-footer" %>