<% content_for :title, "Cadastro de Novo Item" %>

<div class="container container-menu">
  <h1>Cadastro Novo Item</h1>

  <% if @item.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@item.errors.count, "erro") %> impediram o salvamento:</h2>
      <ul class="error-list">
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @item, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: "form-label" %>
      <%= form.number_field :price, class: "form-control", step: 0.01 %>
    </div>

    <div class="mb-3">
    <%= form.label :merchant_id, "Comerciante", class: "form-label" %>
    <%= form.collection_select :merchant_id, @merchants, :id, :name, { prompt: "Selecione um comerciante" }, { class: "form-select" } %>
    </div>
<div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-success" %>
</div>
  <% end %>

  <br>

  <div>
  </div>
</div>

